<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <template>
        <footer>
            <div class="footer-logo">
                <img src="/public/logo/logo_large.png" alt="logo" width="200" height="240" />
            </div>
            <div class="footer-social-media">
                <a href="https://www.facebook.com/" target="_self">
                    <img src="/public/social-media/facebook.svg" alt="facebook icon" />
                </a>
                <a href="https://www.instagram.com/" target="_self">
                    <img src="/public/social-media/instagram.svg" alt="instagram icon" />
                </a>
                <a href="https://www.youtube.com/" target="_self">
                    <img src="/public/social-media/youtube.svg" alt="youtube icon" />
                </a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html#anchor">Contact</a></li>
                </ul>
            </div>
        </footer>
    </template>
</body>
</html>