<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<template>
			<nav>
				<div class="hamburger">
					<img src="/public/social-media/hamburger.svg" alt="hamburger icon" width="40" height="40" />
				</div>
				<div class="menu-wrapper">
					<div class="menu a"><a href="home.html">Home</a></div>
					<div class="menu b"><a href="about.html">About</a></div>
					<div class="menu c"><a href="gallery.html">Gallery</a></div>
					<div class="menu d"><a href="contact.html">Contact</a></div>
				</div>
                <div class="logo">
					<a href="home.html">
						<img src="/public/logo/logo_large.png" alt="logo" width="50" height="40" />
					</a>
				</div>
				<ul>
					<li><a href="home.html#anchor">Home</a></li>
					<li><a href="about.html#anchor">About</a></li>
					<li><a href="gallery.html#anchor">Gallery</a></li>
					<li><a href="contact.html#anchor">Contact</a></li>
				</ul>
			</nav>
		</template>
	</body>
</html>
