<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<template>
			<nav>
				<div class="hamburger">
					<img src="../../public/social-media/hamburger.svg" alt="menu icon" width="40" height="40" />
				</div>
				<div class="menu-items">
					<a class="menu a" href="home.html">Home</a>
					<a class="menu b" href="about.html">About</a>
					<a class="menu c" href="gallery.html">Gallery</a>
					<a class="menu d" href="contact.html#anchor">Contact</a>
				</div>
				<div class="logo">
					<a href="home.html">
						<img src="../../public/logo/logo_large.png" alt="logo" width="50" height="40" />
					</a>
				</div>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="contact.html#anchor">Contact</a></li>
				</ul>
			</nav>
		</template>
	</body>
</html>
