
section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

article.wrapper {
    min-width: 40vw;
	padding: 3rem;
	background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0.713), rgb(237, 237, 237)),
		url("/public/newton/newton10.jpg");
	background-position: -10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

fieldset {
	padding: 2rem;
	font-weight: 600;
	font-size: 1.5rem;
	border: 2px solid #090909d4;
	border-radius: 2px;
	background-color: #e4e4e4a8;
}

label {
	display: inline-block;
	margin-bottom: 0.4rem;
	font-size: 1rem;
	font-weight: 600;
	align-self: baseline;
}

input {
	width: 100%;
	border: 1px solid #414f5e;
	padding: 6px 6px 6px 25px;
	margin-bottom: 10px;
}

input:focus {
	border: 1px solid #d53535;
	outline: none;
}

textarea {
	min-width: 100%;
	height: 100%;
	padding: 1em;
	opacity: 0.7;
	border: none;
	resize: both;
	transition: opacity 0.5s ease-in-out;
}

textarea:focus {
	outline: 1px solid #d53535;
	opacity: 1;
}

input[type="submit"] {
	border: none;
	outline: none;
	background-color: #000000;
	opacity: 0.9;
	color: white;
	padding: 10px;
	width: 40px;
	transition: scale 0.2s ease-in-out;
	font-size: 1rem;
	font-weight: 600;
}

input[type="submit"]:hover {
	scale: 1.03;
}

input[type="checkbox"] {
	display: inline-block;
	width: 20px;
	accent-color: #d34d3b;
}

input[type="checkbox"]:hover {
	outline: none;
}

#submit {
	width: 100%;
	margin-top: 2rem;
}

#subject {
	background: url("/public/icons/subject.png") no-repeat 5px center;
	background-size: 12px;
	background-color: transparent;
	color: #252525;
}

#name {
	background: url("/public/icons/name.png") no-repeat 5px center;
	background-size: 11px;
	background-color: transparent;
	color: #252525;
}

#email {
	background: url("/public/icons/at.png") no-repeat 5px center;
	background-size: 12px;
	background-color: transparent;
	color: #252525;
}

#name:focus,
#email:focus,
#subject:focus {
	background-color: #edf0f7;
}


@media screen and (max-width: 680px) {
	article.wrapper {
		background-image: none;
        padding: 2rem;
        width: 80vw;
	}

    textarea {
        min-width: 100%;
        width: 100%;
        resize: none;
    }
    
}

@media screen and (min-width: 681px) and (max-width: 1124px) {
    article.wrapper {
		background-image: none;
        padding: 2rem;
        min-width: 50vw;
	}

    textarea {
        min-width: 100%;
        width: 100%;
    }
}
